body {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    height: 180px;
}
#left {
    width: 42%;
    float: right;
    height: 500px;
}
#right {
    height: 500px;
}
footer {
    height: 100px;
}
